
body { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 111, 111);

}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2913ba;
    padding: 60px 5px 0px 5px;
    width: 400px;
    max-width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


#display {
    font-family: 'Courier New', monospace;
    background-color: grey;
    color: black;
    text-align: right;
    font-size: 90px;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.labels {
    display: flex;
    justify-content: space-between;
    color: white;
}

#model {
  margin-right: 1em;
  font-family: 'Courier New';
  font-weight: bolder;
  font-size: 1.5em
}

#logo {
    font-family:'Times New Roman', Times, serif
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 8px;
}

#buttons button {
    background-color: white;
    color: black;
    font-size: 36px;
    text-align: center;
    width: 80px;
    height: 60px;
}
