body {
    background-color: rgb(146, 111, 111);
}

#calculatorBody {
  border: solid, #2913ba;
  background: #371af2;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 310px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px
}

.calcScreen {
  font-family: 'Courier New', monospace;
  border: solid, 3px, rgb(66, 65, 65);
  height: 40px;
  width: 250px;
  background: grey;
  align-items: center;
  justify-content: center;
  margin: 1em;
  font-size: 1.5em;
  text-align: right;
}

.labels {
  display: flex;
  justify-content: space-between;
  color: white;
}

#logo {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 0.5em;

}

#solarPanel {
    border: solid, 3px;
    height: 30px;
    width: 120px;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;

}

.panels {
   border: solid;
   height: 30px;
   width: 30px;
   display: flex;
   background-color: rgb(44, 44, 44);
}

#model {
  margin-right: 1em;
  font-family: 'Courier New';
  font-weight: bolder;
  font-size: 1.5em
}

.buttons {
  border: 2px, solid, #2913ba;
  display: flex;
  margin: 0.5em;
  border-radius: 15px;
}

#leftButtons {
  width: 200px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
}
.function, .number {
  height:30px;
  width: 50px;
  margin: -1em 0.5em;
  font-family: 'Courier New';
  font-weight: bold;
  text-align: right;
}

.function {
  background: red;
  color: white
}

#rightButtons {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 80px;

}

